<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkglTD2EXUdofX33YOxjSfi7CRuwgbs98</string>
	<key>GCM_SENDER_ID</key>
	<string>896347554502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rubiApp</string>
	<key>PROJECT_ID</key>
	<string>rubi-pasteleria-b397e</string>
	<key>STORAGE_BUCKET</key>
	<string>rubi-pasteleria-b397e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896347554502:ios:6555157ce204c59f3f8dc7</string>
</dict>
</plist>